<form class="w-75 d-flex flex-column align-items-center" action="/Generator_URL_Shortener" method="POST">
  <input class="border-0 bg-light w-75 form-control" type="text" name="url_source" placeholder="Input URL here"
    aria-label="Username" aria-describedby="basic-addon1">
  <button class="btn btn-outline-primary btn-lg mt-3" type="submit" style="display: block;">Shortener</button>
</form>